body {
    background-image: url("images/bg.jpg");
    background-repeat: repeat;
}

div.content {
    border: 10px white solid;
    background-color: white;
    margin: 0 10% 0 10%;
}

div.content-heading {
    background-color: #A8F0F0;
    text-align: right;
    padding: 2px;
    align-self: center;
}

div.content-heading h2 {
    font-size: 14pt;
}

div.content-body {
    display: flex;
    flex-wrap: nowrap;
}

div.sidebar {
    margin: 10px 10px 10px 0;
    padding: 5px 5px 5px 10px;
    border: 4px #009097 solid;
    background-color: #99E0E0;
    height: min-content;
    width: 60%;
}

div.post {
    border: 4px #C2E9E9 solid;
    background-color: #E8FBFB;
    padding: 5px;
    margin-top: 10px;
    overflow: auto;
}

span.date {
    border-bottom: 2px lightblue dashed;
}

img {
    float: right;
}